:root {
  --toast-bg-color: #505053;
}

/* https://gitlab.gnome.org/GNOME/gnome-control-center/-/blob/d3946ec05b4431dde45974749db720decbe9ae0d/panels/system/users/users.css#L2 */
.cutout-button {
  background-color: var(--window-bg-color);
  border-radius: 9999px;
  padding: 2px;
}

.away-label {
  padding: 6px 12px;
  color: var(--warning-color);
  background-color: rgb(from var(--warning-bg-color) r g b / 20%);
  border-radius: 9999px;
}

headerbar.overlaid {
  color: white;
  background-color: transparent;
  box-shadow: none;
}

headerbar.overlaid windowcontrols button image {
  background-color: var(--toast-bg-color);
}

headerbar.overlaid windowcontrols button:hover image {
  background-color: color-mix(in srgb, var(--toast-bg-color), white 15%);
}

headerbar.overlaid windowcontrols button:active image {
  background-color: color-mix(in srgb, var(--toast-bg-color), white 30%);
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}

button.spinning > image {
  transform-origin: 50% 53.125%; /* The icon is off-center by half a pixel */
  animation: spinning 1s linear infinite;
}
