/* https://gitlab.gnome.org/GNOME/gnome-control-center/-/blob/d3946ec05b4431dde45974749db720decbe9ae0d/panels/system/users/users.css#L2 */
.cutout-button {
  background-color: var(--window-bg-color);
  border-radius: 9999px;
  padding: 2px;
}

.away-label {
  padding: 6px 12px;
  color: var(--warning-color);
  background-color: rgb(from var(--warning-bg-color) r g b / 0.2);
  border-radius: 9999px;
}

headerbar.overlaid {
  color: white;
  background-color: transparent;
  box-shadow: none;
}

headerbar.overlaid windowcontrols {
  filter: drop-shadow(0 0 4px black);
}
